doctype html
html
	head
		block head
			block title
				title Brett's Home Automation PlayGround
			block meta
				meta(name='description', content='')
				meta(name='keywords', content='')
			link(rel='stylesheet', href='/css/bootstrap.min.css')
			| <style>
			|   body { padding-top: 60px; }
			| </style>
			script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
			script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js')
			script(src='/scripts/main.js')
			script(src='/scripts/log.js')
	body(ng-app="myApp")
		include header

		.container
			block content

		include footer
