extends ../layout

block content
	H1 Spread Sheet Links 
		P
			a(href="https://docs.google.com/spreadsheets/d/1CAnwYIWE0E5J0The9TELs6ADIj-_DmpkSGWIiYxLpjk/edit" target="_blank") Zone 0
		P
			a(href="https://docs.google.com/spreadsheets/d/1os4KXPrXBQ5JxstCs6rT_Y3khuWUTNGCzWM1wgXP_Rw/edit" target="_blank") Zone 1
